image: mcr.microsoft.com/vscode/devcontainers/cpp:0-bullseye

build:
  stage: build
  script:
    - cmake -S . -B build
    - cmake --build build -j $(nproc)
  artifacts:
    paths:
      - build/chinese-chess

test:
  stage: test
  # before_script:

  script:
    - cmake -S . -B build
    - cmake --build build -j $(nproc)
    - cd build && ctest
