image: alpine

build:
  stage: build
  before_script:
    - apk update && apk add g++
  script:
    - g++ -g -I./ **/*.cpp **/**/*.cpp *.cpp -o chinese-chess
  artifacts:
    paths:
      - chinese-chess

test:
  stage: test
  before_script:
    - apk update && apk add g++ git make cmake
  script:
    - cmake -S . -B build
    - cmake --build build
    - cd build && ctest
