image: mcr.microsoft.com/vscode/devcontainers/cpp:0-bullseye

build:
  stage: build
  script:
    - g++ -g -std=c++14 -I./ **/*.cpp **/**/*.cpp main.cpp -Llibfinal/lib -lfinal -o chinese-chess
  artifacts:
    paths:
      - chinese-chess

test:
  stage: test
  # before_script:

  script:
    - cmake -S . -B build
    - cmake --build build
    - cd build && ctest
